body {
    margin: 100px;
}

#textbox {
    width: 40vw;
    height: 30vh;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
}

button {
    width: 70px;
    height: 40px;
    margin-top: 120px;
    margin-left: 50px;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: grey;
    position: absolute;
}

#sample {
    width: 70vw;
    margin: 50px;
    background-color: green;
    color: white;
    padding: 20px;
    font-size: x-large;
    position: absolute;
}

h1 {
    margin-left: 50px;
    margin-top: 160px;
}